* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 50%; } }
  @media screen and (min-width: 1470px) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 1920px) {
    html {
      font-size: 100%; } }

:root {
  --background-color-dark: #111111;
  --background-color-light: #eeeeee;
  --accent-color: #e9c46a;
  --text-color: #777777;
  --intro-color: #d7d5cc;
  --dev-hover-color: #aaaaaa; }

.light__theme {
  --background-color-dark: #f1faee;
  --background-color-light: #1d3557;
  --text-color: #e63946;
  --accent-color: #2a9d8f;
  --intro-color: #f5ebe0;
  --dev-hover-color: #ff0015; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--text-color);
  background-color: var(--background-color-dark);
  display: grid;
  grid-template-columns: 8rem 1fr; }
  @media screen and (max-width: 1170px) {
    body {
      grid-template-columns: 1fr; } }

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.section-center {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }

.btn {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0; }

.skills__heading, .timeline__heading {
  margin-bottom: 4rem;
  font-size: calc(2rem + 2vw); }
  .skills__heading span, .timeline__heading span {
    color: var(--accent-color); }

.theme__icon {
  font-size: 3rem;
  cursor: pointer; }

.theme__dark {
  display: none; }
  .theme__dark.active {
    display: block; }

.theme__light {
  display: none; }
  .theme__light.active {
    display: block; }

.about__btn, .project__next-all, .project__next-next {
  border: 1px solid var(--background-color-light);
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  border-radius: 50px;
  color: var(--background-color-light);
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .about__btn:hover, .project__next-all:hover, .project__next-next:hover {
    color: var(--background-color-dark); }
  .about__btn:hover::after, .project__next-all:hover::after, .project__next-next:hover::after {
    width: 100%;
    opacity: 1; }
  .about__btn::after, .project__next-all::after, .project__next-next::after {
    content: '';
    width: 70%;
    height: 100%;
    opacity: 0;
    background-color: var(--background-color-light);
    top: 0;
    left: 50%;
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    border-radius: 50px; }

.container {
  grid-column: 2/-1;
  overflow-x: hidden; }
  .container--project {
    background-color: var(--background-color-light); }
    @media screen and (max-width: 1170px) {
      .container--project {
        grid-column: 1/-1; } }

.nav.nav--project .navbar {
  background-color: var(--background-color-dark); }

.nav.nav--project .navbar__btn--line {
  background-color: var(--background-color-dark); }

.nav.nav--project .navbar__item:hover {
  color: var(--background-color-light); }

.nav.nav--project .navbar--phone {
  background-color: var(--background-color-light); }

.nav.nav--project .navbar__item--phone:hover {
  color: var(--background-color-dark); }

.navbar__toggle-btn {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  right: 5rem;
  top: 2rem;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 8rem;
  height: 8rem; }
  @media screen and (min-width: 1170px) {
    .navbar__toggle-btn {
      display: none; } }

.navbar__btn--circle {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transition: all 0.5s ease-out; }

.navbar__btn--line {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 1px;
  background-color: var(--background-color-light); }
  .light__theme .navbar__btn--line {
    background-color: var(--text-color) !important; }
  .navbar__btn--line-1 {
    width: 40%;
    transform: translateX(25%); }
  .navbar__btn--line-2 {
    width: 60%; }

.navbar--desktop {
  background-color: var(--background-color-light);
  height: 100vh;
  width: 100%;
  padding: 2rem 0;
  font-size: 2.2rem;
  letter-spacing: 0.25px;
  writing-mode: vertical-lr;
  position: fixed;
  left: 0;
  width: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  @media screen and (max-width: 1170px) {
    .navbar--desktop {
      display: none; } }

.navbar--phone {
  background-color: var(--background-color-dark);
  position: fixed;
  z-index: 1000;
  inset: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-100%); }
  @media screen and (min-width: 1170px) {
    .navbar--phone {
      display: none; } }

.navbar__logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%; }
  .navbar__logo path {
    fill: var(--text-color); }

.navbar__item:not(:first-child) {
  transform: rotate(180deg); }

.navbar__item {
  position: relative;
  line-height: 1;
  overflow: hidden; }
  .navbar__item--phone-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem; }
  .navbar__item--phone {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    font-size: calc(6rem + 5vw); }
    .navbar__item--phone:hover {
      color: var(--accent-color); }
    .navbar__item--phone span {
      font-family: "Montserrat", sans-serif;
      font-size: 2vw; }
    .navbar__item--phone--2 {
      transform: translateX(30%); }
    .navbar__item--phone--3 {
      transform: translateX(60%); }
    .navbar__item--phone--4 {
      transform: translateX(30%); }
    .navbar__item--phone--5 {
      transform: translateX(0%); }
  .navbar__item:hover {
    color: var(--background-color-dark); }
  .navbar__item:hover .navbar__link--2 {
    left: 100%;
    pointer-events: none; }
  .navbar__item.active {
    color: var(--background-color-dark); }

.navbar__link {
  transition: all 0.5s ease-in-out; }
  .navbar__link--2 {
    position: absolute;
    left: -100%;
    top: 0; }

.hero {
  min-height: 100vh;
  width: 100%;
  position: relative; }
  .hero__section {
    overflow: visible; }
  .hero__scroll-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .hero__scroll {
    width: 5rem;
    height: 9rem;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    position: relative; }
    .hero__scroll-text {
      font-family: "Montserrat", sans-serif;
      position: relative;
      overflow: hidden; }
      .hero__scroll-text p:nth-child(1) {
        position: absolute;
        transform: translateY(-100%); }
  .hero__scroller {
    position: absolute;
    height: 0.65rem;
    width: 0.65rem;
    border-radius: 50%;
    background-color: var(--background-color-light);
    top: 1rem;
    left: 50%;
    transform: translateX(-50%); }
  .hero__seperator {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    margin: 4rem 0; }
  .hero__content {
    padding: 2rem 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem; }
  .hero__component-box {
    flex-grow: 4;
    align-self: start; }
  .hero__component-text path {
    stroke: var(--accent-color); }
  .hero__heading-box {
    flex-grow: 1; }
  .hero__heading-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 4rem;
    position: relative; }
    @media screen and (max-width: 1170px) {
      .hero__heading-top {
        column-gap: 3rem; } }
    @media screen and (max-width: 768px) {
      .hero__heading-top {
        grid-template-columns: 1fr 1fr; } }
  .hero__heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .hero__heading-text {
    position: relative; }
  .hero__heading-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .hero__heading-bottom {
        display: grid; } }
  .hero__heading {
    font-size: calc(6rem + 13vw);
    line-height: 0.85; }
    .hero__heading--visible:hover ~ .hero__heading--hidden {
      color: var(--dev-hover-color); }
    .hero__heading--hidden {
      position: absolute;
      transition: color 0.1s ease-in-out;
      pointer-events: none;
      top: 0; }
    .hero__heading-seperator {
      height: calc(1rem + 1vw);
      background-color: var(--text-color); }
  .hero__icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem; }
  .hero__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    background: linear-gradient(to left, var(--background-color-light) 50%, var(--text-color) 50%);
    background-size: 200%;
    transition: background 0.5s ease-in-out;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    .hero__icon-link:hover {
      background-position: -100%; }
    .hero__icon-link:hover .hero__icon-box {
      border-color: white; }
    .hero__icon-link:hover > .hero__icon-seperator {
      background-position: -100%; }
  .hero__icon-box {
    border: 1px solid var(--text-color);
    transition: border 0.75s ease-in-out;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .hero__icon {
    font-size: 2rem; }
    .hero__icon-seperator {
      height: 0.15rem;
      width: 5rem;
      background: linear-gradient(to left, var(--background-color-light) 50%, var(--text-color) 50%);
      background-size: 200%;
      transition: background 0.1s ease-in-out 0.2s; }
      @media screen and (max-width: 768px) {
        .hero__icon-seperator {
          display: none; } }

.hero__icon-link:hover .hero__icon-box {
  border-color: white; }

.stack {
  display: grid;
  grid-template-columns: 1fr; }

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse; }

.stack span:nth-child(odd) {
  --glitch-translate: 8px; }

.stack span:nth-child(even) {
  --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue; }
  60% {
    opacity: 0.5;
    transform: translateX(50%); }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue; }
  100% {
    text-shadow: none; } }

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate)); }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue; }
  4%,
  100% {
    text-shadow: none;
    transform: none; } }

.navbar--project .navbar__item:hover {
  color: var(--background-color-light); }

.navbar--project .navbar__item.active {
  color: var(--background-color-light); }

.navbar--phone-icons {
  position: absolute;
  left: 50px;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0%; }

.light__theme .container {
  background-color: var(--background-color-dark); }

.light__theme .navbar {
  background-color: var(--background-color-light) !important;
  color: var(--background-color-dark); }

.light__theme .navbar .navbar__logo path {
  fill: var(--background-color-dark); }

.light__theme .navbar .navbar__item:hover {
  color: var(--text-color); }

.light__theme .hero__icon-link {
  background: linear-gradient(to left, var(--background-color-light) 50%, var(--text-color) 50%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text; }
  .light__theme .hero__icon-link:hover {
    background-position: -100%; }
  .light__theme .hero__icon-link:hover .hero__icon-box {
    border-color: var(--background-color-light); }

.light__theme .hero__icon-seperator {
  background: linear-gradient(to left, var(--background-color-light) 50%, var(--text-color) 50%);
  background-size: 200%; }

.work {
  min-height: 100vh; }
  .work__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 3rem; }
    @media screen and (min-width: 976px) {
      .work__tabs {
        justify-content: start; } }
  .work__tab-btn {
    font-size: 2.4rem; }
  .work__tab-btn.active {
    color: var(--background-color-light);
    color: var(--accent-color); }
  .work__content {
    font-family: "Montserrat", sans-serif;
    color: var(--background-color-light);
    display: none;
    place-content: center; }
    .work__content.active {
      display: grid; }
    @media screen and (min-width: 976px) {
      .work__content {
        grid-template-columns: 1fr 1fr;
        column-gap: 6rem; } }
  .work__projects {
    display: none;
    overflow: hidden; }
    @media screen and (min-width: 976px) {
      .work__projects {
        display: block;
        height: 40vw;
        min-height: 450px;
        overflow-y: scroll; } }
  .work__project {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    border-top: 1px solid var(--text-color); }
    .work__project:hover .work__line {
      width: 3rem; }
    .work__project:last-child {
      border-bottom: 1px solid var(--text-color); }
    .work__project-name::first-letter {
      text-transform: capitalize; }
    .work__project-info {
      color: var(--text-color);
      font-size: 1.2rem; }
  .work__projects-phone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem; }
    @media screen and (max-width: 576px) {
      .work__projects-phone {
        grid-template-columns: 1fr 1fr; } }
  .work__sort-phone {
    grid-column: 1/-1;
    place-self: end;
    margin: 2rem 0 0; }
    @media screen and (min-width: 976px) {
      .work__sort-phone {
        display: none; } }
  .work__project-phone {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    position: relative; }
    @media screen and (min-width: 976px) {
      .work__project-phone {
        display: none; } }
    .work__project-phone:hover .work__project-phone-name {
      transform: translateY(-400%) scale(1.2); }
    .work__project-phone:hover .work__project-phone-info {
      transform: translateY(-150%);
      visibility: visible;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s; }
    .work__project-phone:hover > img {
      filter: grayscale(0); }
    .work__project-phone:hover .work__project-phone-overlay {
      opacity: 0.6; }
    .work__project-phone-overlay {
      position: absolute;
      inset: 0;
      z-index: 1;
      background: var(--background-color-dark);
      opacity: 0.6;
      transition: opacity 0.5s linear; }
    .work__project-phone > img {
      filter: grayscale(0.5);
      height: calc(20rem + 10vw);
      width: calc(15rem + 10vw); }
    .work__project-phone-info-box {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      width: 100%;
      text-align: center; }
    .work__project-phone-name {
      font-family: "Bebas Neue", sans-serif;
      font-size: 4rem;
      line-height: 0.7;
      text-align: center;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .work__project-phone-info {
      position: absolute;
      top: 100%; }
  .work__line {
    width: 0rem;
    height: 0.15rem;
    background-color: var(--text-color);
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .work__image-box {
    display: none;
    place-self: start;
    position: relative; }
    @media screen and (min-width: 976px) {
      .work__image-box {
        display: block; } }
  .work__image-stack {
    display: none; }
    .work__image-stack.active {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
  .work__stack {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem; }
    .work__stack span {
      border: 1px solid var(--text-color);
      padding: 1rem 0;
      border-radius: 50px;
      text-transform: capitalize; }
  .work__image {
    width: 35rem;
    height: 45rem; }

.skills {
  min-height: 100vh; }
  .skills__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem; }

.skill__box {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 576px) {
    .skill__box {
      grid-template-columns: 1fr; } }
  .skill__box:hover .skill__box--left {
    animation-play-state: paused; }
  .skill__box:hover .skill__box--right {
    animation-play-state: paused; }
  .skill__box--left {
    overflow: hidden;
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: slide-left 20s linear infinite; }
    @media screen and (max-width: 576px) {
      .skill__box--left {
        animation: slide-left 10s linear infinite; } }
  .skill__box--right {
    overflow: hidden;
    transform: rotateY(180deg) translateX(0%);
    transform-origin: 0%;
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: slide-right 20s linear infinite; }
    @media screen and (max-width: 576px) {
      .skill__box--right {
        animation: slide-right 10s linear infinite;
        display: none; } }

.skill__box-container {
  overflow: hidden; }

.skill__single-box {
  display: flex; }

.skill__single {
  padding: 1.2rem 0;
  flex-basis: 25%;
  gap: 1rem;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .light__theme .skill__single {
    border-top: 1px solid var(--background-color-light);
    border-right: 1px solid var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    color: var(--background-color-light); }
  @media screen and (max-width: 1170px) {
    .skill__single {
      padding: 1.2rem 1rem; } }

.skill__image {
  height: 2rem;
  width: 2rem;
  object-fit: contain; }

@keyframes slide-left {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-50%); } }

@keyframes slide-right {
  from {
    transform: rotateY(180deg) translateX(-50%); }
  to {
    transform: rotateY(180deg) translateX(-100%); } }

.contact__wrapper {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  line-height: 1;
  display: grid;
  grid-template-columns: 1fr 0.7fr; }
  @media screen and (max-width: 876px) {
    .contact__wrapper {
      grid-template-columns: 1fr; } }

.contact__left {
  display: flex;
  flex-direction: column; }

.contact__heading-box {
  position: relative;
  overflow: hidden; }

.contact__heading {
  font-size: calc(3rem + 8vw);
  letter-spacing: 2px;
  color: var(--background-color-light); }

.contact__upper {
  border-bottom: 1px solid var(--text-color);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0; }

.contact__lower {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--background-color-light); }
  @media screen and (max-width: 970px) {
    .contact__lower {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (max-width: 876px) {
    .contact__lower {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media screen and (max-width: 576px) {
    .contact__lower {
      grid-template-columns: 1fr; } }
  .contact__lower i {
    font-size: 5vw;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    pointer-events: none; }

.contact__text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin: 2rem 0 1rem;
  pointer-events: none; }

.contact__text-bold {
  font-size: 6rem;
  color: var(--accent-color);
  pointer-events: none; }

.contact__method {
  padding: 4rem 0;
  border-right: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative; }
  @media screen and (max-width: 970px) {
    .contact__method {
      border-bottom: 1px solid var(--text-color); }
      .contact__method:nth-child(2) {
        border-right: none; }
      .contact__method:last-child {
        border-bottom: none; } }
  @media screen and (max-width: 876px) {
    .contact__method {
      border-bottom: 1px solid var(--text-color); }
      .contact__method:nth-child(2) {
        border-right: 1px solid var(--text-color); }
      .contact__method:last-child {
        border-bottom: 1px solid var(--text-color); } }
  @media screen and (max-width: 576px) {
    .contact__method {
      border-right: none; }
      .contact__method:nth-child(2) {
        border-right: none; } }
  .contact__method--email {
    cursor: none; }
  .contact__method:last-child {
    border-right: none; }
  .contact__method:hover {
    color: var(--background-color-dark);
    background-color: var(--background-color-light); }
  .contact__method:hover .contact__text-bold {
    color: var(--background-color-dark); }
  .contact__method:hover i {
    transform: scale(1.2); }

.contact__cursor {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: var(--accent-color);
  z-index: 10;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  display: none; }
  .contact__cursor-text {
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.4; }

.contact__copied {
  white-space: nowrap;
  opacity: 1;
  position: absolute;
  top: -2.5rem;
  background-color: var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  transform: translateY(100%);
  opacity: 0; }
  .contact__copied.active {
    transform: translateY(0%);
    opacity: 1; }
  .contact__copied::after {
    content: '';
    background-color: var(--accent-color);
    width: 0.6rem;
    height: 0.4rem;
    position: absolute;
    top: 100%;
    left: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: translateX(-50%) rotate(180deg); }

.contact__logo {
  border-left: 1px solid var(--text-color);
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 876px) {
    .contact__logo {
      border-left: none; } }

.contact__logo-svg {
  width: 55vw;
  transform: rotate(20deg) scale(1.2) translate(15%, 5%); }
  @media screen and (max-width: 876px) {
    .contact__logo-svg {
      transform: rotate(20deg) scale(1.6) translate(15%, 5%); } }
  .contact__logo-svg path {
    fill: var(--background-color-light); }

.contact__motivation {
  border-bottom: 1px solid var(--text-color);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  color: var(--background-color-light);
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  white-space: nowrap; }

.contact__seperator {
  height: 0.15rem;
  width: 2rem;
  background-color: var(--background-color-light); }

.about {
  height: auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  padding: 4rem 0 0; }
  .about__heading-box {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    font-family: "Bebas Neue", sans-serif; }
    .about__heading-box span {
      text-transform: uppercase;
      color: var(--accent-color);
      margin: -0.75rem 0 2rem;
      letter-spacing: 1px;
      font-size: 1.8rem; }
  .about__heading {
    font-size: calc(1rem + 4vw);
    transform: scaleY(1.4);
    line-height: 1.2; }
  .about__btns-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem; }
  .about__btn {
    display: inline-block; }
  .about__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center; }
  .about__text-box {
    position: relative; }
    .about__text-box p {
      margin-bottom: 2rem; }
      .light__theme .about__text-box p {
        color: var(--background-color-light); }
  .about__memoji {
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .about__memoji-video {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    position: relative;
    transform: scale(1.2) translateY(10%); }

@keyframes rotate-bg {
  to {
    transform: rotate(360deg); } }

.timeline {
  min-height: 100vh;
  overflow: hidden;
  align-items: start; }
  @media screen and (max-width: 1170px) {
    .timeline {
      display: none; } }
  .timeline__heading {
    align-self: center; }
  .timeline__wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    transform: translateX(-100px); }
  .timeline__duration {
    width: 20vw;
    height: 25vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: stretch; }
  .timeline--upper {
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    position: relative;
    flex-grow: 10; }
  .timeline--lower {
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    flex-grow: 0.5;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
  .timeline__text {
    font-family: "Montserrat", sans-serif;
    color: var(--background-color-light);
    font-size: 1.2rem;
    text-transform: capitalize; }
  .timeline__event {
    height: 4vw;
    border-radius: 10px;
    position: absolute;
    bottom: 1vw;
    z-index: 1;
    padding: 0.5rem 1rem;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .timeline--animation {
    background-color: #ad2e24;
    bottom: 6vw;
    left: 50%;
    width: 120%; }
  .timeline--bachelors {
    background-color: #499ff1;
    left: 40%;
    width: 200%;
    opacity: 1; }
  .timeline--masters {
    background-color: #cf1259;
    left: 50%;
    width: 150%; }
  .timeline--tyler {
    background-color: #ea526f;
    bottom: 11vw;
    left: 70%;
    width: 130%; }
  .timeline--salvation {
    background-color: #00916e;
    bottom: 6vw;
    left: 50%;
    width: 150%; }
  .timeline--bvt {
    background-color: #835bf1;
    left: 10%;
    width: 210%; }

.light__theme .timeline__text {
  color: var(--background-color-dark); }

.project {
  font-family: "Montserrat", sans-serif; }
  .light__theme .project {
    color: var(--background-color-light); }
  .project__hero {
    text-align: center;
    position: relative;
    padding-bottom: 10rem; }
  .project__heading {
    font-size: calc(4rem + 4vw);
    font-family: "Bebas Neue", sans-serif;
    line-height: 1; }
    .light__theme .project__heading {
      color: var(--text-color); }
  .project__macbook-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    height: 40vw;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
    @media screen and (max-width: 1176px) {
      .project__macbook-box {
        margin-top: 2rem; } }
  .project__macbook {
    width: 100%;
    height: 100%; }
  .project__macbook-video-box {
    width: 60vw;
    height: 37vw;
    position: absolute;
    top: 1%;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden; }
  .project__macbook-video {
    height: 100%;
    width: 100%;
    transform: scaleY(1.1); }
  .project__btn-container {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%); }
    @media screen and (max-width: 576px) {
      .project__btn-container {
        display: none; } }
  .project__btn-outline {
    border: 1px dashed var(--text-color);
    border-radius: 50%;
    padding: 2rem;
    cursor: pointer; }
  .project__btn-link {
    color: var(--background-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(5rem + 5vw);
    width: calc(5rem + 5vw);
    border-radius: 50%;
    background: var(--background-color-dark);
    font-size: 1rem; }
  .project__details-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    color: var(--background-color-dark); }
    @media screen and (max-width: 976px) {
      .project__details-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0; } }
  .project__intro {
    background: var(--intro-color);
    position: relative; }
  .project__intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .project__intro-heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: column-reverse;
    gap: 0.5rem; }
    .light__theme .project__intro-heading-box {
      color: var(--text-color); }
  .project__intro-heading {
    font-size: calc(2rem + 2vw);
    font-family: "Bebas Neue", sans-serif;
    line-height: 1;
    margin-bottom: 2rem; }
  .project__btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem; }
  .project__button {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--text-color);
    padding: 0.2rem 1rem;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    cursor: pointer; }
    .project__button::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 60%;
      height: 100%;
      transform: translateX(-50%);
      background-color: var(--background-color-dark);
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: -1;
      border-radius: 50px; }
    .project__button:hover {
      color: var(--background-color-light); }
    .project__button:hover::after {
      width: 100%;
      opacity: 1; }
  .project--live {
    display: none; }
    @media screen and (max-width: 576px) {
      .project--live {
        display: block; } }
  .project__intro-text {
    max-width: 70rem;
    margin-bottom: 2rem; }
  .project__link:hover {
    color: black; }
  .project__design {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto; }
  .project__colors-wrapper, .project__typography-wrapper {
    margin-bottom: 4rem; }
  .project__colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem; }
  .project__colors-heading, .project__typography-heading {
    margin-bottom: 2rem;
    font-size: 2rem; }
    .light__theme .project__colors-heading, .light__theme .project__typography-heading {
      color: var(--text-color); }
  .project__color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase; }
  .project__color {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 0 4px 5px rgba(var(--text-color), 0.4); }
  .project__typography-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    row-gap: 4rem;
    text-transform: capitalize; }
    @media screen and (max-width: 768px) {
      .project__typography-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
  .project__typography {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; }
  .project__typography-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .project__typography-image-box img {
      width: 88%; }
  .project__tools-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem; }
    @media screen and (max-width: 576px) {
      .project__tools-wrapper {
        grid-template-columns: 1fr; } }
  .project__tools-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem; }
  .project__tools-heading {
    margin-bottom: 1rem;
    text-transform: capitalize; }
    .light__theme .project__tools-heading {
      color: var(--text-color); }
  .project__tool {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem; }
  .project__tool-name {
    text-transform: capitalize; }
  .project__tool-image-box {
    border: 1px solid var(--text-color);
    width: 6rem;
    height: 6rem;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(var(--text-color), 0.2); }
    .light__theme .project__tool-image-box {
      border: 1px solid var(--background-color-light); }
  .project__tool-image {
    object-fit: contain; }
  .project__features-container {
    background: radial-gradient(var(--background-color-light), var(--intro-color)); }
  .project__features-heading {
    font-size: calc(2rem + 2vw);
    margin-bottom: 4rem; }
    .light__theme .project__features-heading {
      color: var(--text-color); }
  .project__features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(2rem + 5vw); }
  .project__feature {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .project__text {
    position: absolute;
    font-size: calc(2rem + 5vw);
    font-family: "Bebas Neue", sans-serif;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0.8; }
    .project__text--1 {
      color: var(--background-color-dark);
      z-index: 1; }
    .project__text--2 {
      -webkit-text-stroke-width: 0.2vw;
      -webkit-text-stroke-color: var(--background-color-light);
      color: transparent;
      z-index: 3; }
  .project__image-box {
    position: relative;
    z-index: 2;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(var(--ackground-color-dark), 0.2); }
  .project__overlay {
    height: 100%;
    width: 100%;
    background-color: var(--background-color-dark);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; }
  .project__next {
    background: var(--background-color-dark);
    border-left: 1px solid var(--text-color);
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    gap: 6rem; }
    @media screen and (max-width: 768px) {
      .project__next {
        height: auto;
        padding-inline: 4rem; } }
    .project__next-moon {
      position: absolute;
      bottom: -400px;
      z-index: -1;
      opacity: 0.4; }
      @media screen and (min-width: 1920px) {
        .project__next-moon {
          bottom: 0; } }
    .project__next-top {
      border-bottom: 1px solid var(--text-color);
      flex-grow: 1;
      width: 100%;
      max-width: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      overflow: hidden; }
      .project__next-top p {
        color: var(--accent-color); }
    .project__next-heading {
      font-size: calc(2rem + 5vw);
      color: var(--background-color-light);
      line-height: 1;
      padding-bottom: 15rem;
      font-family: "Bebas Neue", sans-serif; }
    .project__next-image {
      width: 25rem;
      position: absolute;
      bottom: 0%;
      transform: translateY(50%);
      cursor: pointer; }
    .project__next-middle {
      width: 100%;
      max-width: 70rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2rem; }
    @media screen and (max-width: 410px) {
      .project__next-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        align-items: start; } }

.light__theme .project__btn-link {
  background: var(--background-color-light); }
  .light__theme .project__btn-link span {
    color: var(--background-color-dark); }

.light__theme .project__intro {
  background: var(--intro-color); }

.light__theme .project__features-container {
  background: radial-gradient(var(--background-color-dark), var(--intro-color)); }

.light__theme .project__details-box {
  color: var(--background-color-light); }

.light__theme .project__text--1 {
  color: var(--background-color-light); }

.light__theme .project__text--2 {
  -webkit-text-stroke-color: var(--background-color-dark); }

.light__theme .project__overlay {
  background-color: var(--background-color-light); }

.light__theme .project__button:hover {
  color: var(--background-color-dark); }

.light__theme .project__button:hover::after {
  background-color: var(--background-color-light); }

.loader {
  position: fixed;
  z-index: 10000;
  width: 100vw; }
  .loader__top {
    bottom: 49%; }
    .light__theme .loader__top {
      background-color: var(--background-color-light); }
  .loader__bottom {
    top: 50%; }
    .light__theme .loader__bottom {
      background-color: var(--background-color-light); }
  .loader__logo {
    position: fixed;
    z-index: 200;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    right: 5rem;
    bottom: 5rem; }
    .loader__logo path {
      fill: var(--background-color-light); }
      .light__theme .loader__logo path {
        fill: var(--background-color-dark); }

.loader__top, .loader__bottom {
  height: 200vh;
  width: 100vw;
  position: fixed;
  transform: skewY(-45deg);
  background-color: var(--background-color-dark); }
