.about {
  // height: auto;
  // min-height: 100vh;
  font-family: $ff-primary;
  padding: 4rem 0 0;

  &__heading-box {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    font-family: $ff-secondary;

    span {
      text-transform: uppercase;
      color: var(--accent-color);
      margin: -0.75rem 0 2rem;
      letter-spacing: 1px;
      font-size: 1.8rem;
    }
  }

  &__heading {
    font-size: calc(1rem + 4vw);
    transform: scaleY(1.4);
    line-height: 1.2;
  }

  &__btns-box {
    @include flex;
    align-items: stretch;
    gap: 2rem;
  }

  &__btn {
    display: inline-block;
    @extend %cta-btns;
    padding: 1.5rem 0;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 6rem;
    place-items: center;

    @include big-screen(876px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__text-box {
    position: relative;
    // max-width: 80rem;
    // margin: 0 auto;
    // line-height: 2;
    // text-align: center;

    p {
      margin-bottom: 2rem;

      .light__theme & {
        color: var(--background-color-light);
      }
    }
  }

  &__memoji {
    // width: 100vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color-light);
    // height: 40rem;
    // width: 40rem;
    @include flex;
    // border: $border;
  }

  &__memoji-video {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    position: relative;
    transform: scale(1.2) translateY(10%);
  }
}

@keyframes rotate-bg {
  to {
    transform: rotate(360deg);
  }
}
