@mixin respond($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}

@mixin big-screen($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin circle($radius) {
  height: $radius;
  width: $radius;
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;

  @include respond(768px) {
    font-size: 50%;
  }

  @include big-screen(1470px) {
    font-size: 75%;
  }

  @include big-screen(1920px) {
    font-size: 100%;
  }
}

// FBF5F3 snow EEE5E9
// f2e29f
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Bebas Neue', sans-serif;
// $background-color-dark: #111111;
// $background-color-light: #eeeeee;
// $accent-color: #e9c46a;
// $text-color: #777777;

$border-radius: 50px;
$border-radius-sm: 10px;
$border: 1px solid var(--text-color);
$border-white: 1px solid var(--background-color-light);
$icons-background: linear-gradient(to left, var(--background-color-light) 50%, var(--text-color) 50%);

:root {
  --background-color-dark: #111111;
  --background-color-light: #eeeeee;
  --accent-color: #e9c46a;
  --text-color: #777777;
  --intro-color: #d7d5cc;
  --dev-hover-color: #aaaaaa;
  // --text-color: #70877f;
  // --text-color: #ccc5b9;
}

.light__theme {
  --background-color-dark: #f1faee;
  --background-color-light: #1d3557;
  --text-color: #e63946;
  --accent-color: #2a9d8f;
  --intro-color: #f5ebe0;
  --dev-hover-color: #ff0015;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $ff-secondary;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--text-color);
  background-color: var(--background-color-dark);

  display: grid;
  grid-template-columns: 8rem 1fr;

  @include respond(1170px) {
    grid-template-columns: 1fr;
  }
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-center {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  // border: 1px solid pink;
}

.btn {
  font-family: inherit;
  // letter-spacing: 2px;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
}

section {
  // min-height: 100vh;
  // border-top: $border;
  // border: $border;
  @include flex(column);
  padding: 4rem 0;
}

%section-heading {
  margin-bottom: 4rem;
  font-size: calc(2rem + 2vw);

  span {
    color: var(--accent-color);
  }
}

.theme {
  &__icon {
    font-size: 3rem;
    cursor: pointer;
  }

  &__dark {
    display: none;

    &.active {
      display: block;
    }
  }
  &__light {
    display: none;

    &.active {
      display: block;
    }
  }
}

%cta-btns {
  border: $border-white;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  border-radius: $border-radius;
  color: var(--background-color-light);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    color: var(--background-color-dark);
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }

  &::after {
    content: '';
    width: 70%;
    height: 100%;
    opacity: 0;
    background-color: var(--background-color-light);
    top: 0;
    left: 50%;
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    border-radius: $border-radius;
  }
}
