.contact {
  &__wrapper {
    border-top: $border;
    border-bottom: $border;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    line-height: 1;

    display: grid;
    grid-template-columns: 1fr 0.7fr;

    @include respond(876px) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__heading-box {
    position: relative;
    overflow: hidden;
  }

  &__heading {
    font-size: calc(3rem + 8vw);
    letter-spacing: 2px;
    color: $background-color-light;
  }

  &__upper {
    border-bottom: $border;
    flex-grow: 1;
    @include flex(column);
    padding: 4rem 0;
  }

  &__lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: $background-color-light;

    @include respond(970px) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(876px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include respond(576px) {
      grid-template-columns: 1fr;
    }

    i {
      font-size: 5vw;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      pointer-events: none;
    }
  }

  &__text {
    font-family: $ff-primary;
    letter-spacing: 2px;
    margin: 2rem 0 1rem;
    pointer-events: none;
  }

  &__text-bold {
    font-size: 6rem;
    color: $accent-color;
    pointer-events: none;
  }

  &__method {
    padding: 4rem 0;
    border-right: $border;
    @include flex(column);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;

    @include respond(970px) {
      border-bottom: $border;

      &:nth-child(2) {
        border-right: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @include respond(876px) {
      border-bottom: $border;

      &:nth-child(2) {
        border-right: $border;
      }

      &:last-child {
        border-bottom: $border;
      }
    }

    @include respond(576px) {
      border-right: none;

      &:nth-child(2) {
        border-right: none;
      }
    }

    &--email {
      cursor: none;
    }

    &:last-child {
      border-right: none;
    }

    &:hover {
      color: $background-color-dark;
      background-color: $background-color-light;
    }

    &:hover .contact__text-bold {
      color: $background-color-dark;
    }

    &:hover i {
      transform: scale(1.2);
    }
  }

  &__cursor {
    @include circle(5rem);
    border: $border;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: $accent-color;
    z-index: 10;
    font-size: 0.75rem;
    @include flex;
    font-family: $ff-primary;
    display: none;

    &-text {
      font-size: 1rem;
      text-align: center;
      text-transform: capitalize;
      line-height: 1.4;
    }
  }

  &__copied {
    white-space: nowrap;
    opacity: 1;
    position: absolute;
    top: -2.5rem;
    background-color: $accent-color;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    transition: all 0.2s ease-in-out;
    transform: translateY(100%);
    opacity: 0;

    &.active {
      transform: translateY(0%);
      opacity: 1;
    }

    &::after {
      content: '';
      background-color: $accent-color;
      width: 0.6rem;
      height: 0.4rem;
      position: absolute;
      top: 100%;
      left: 50%;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transform: translateX(-50%) rotate(180deg);
    }
  }

  &__logo {
    border-left: $border;
    display: flex;
    overflow: hidden;

    @include respond(876px) {
      border-left: none;
    }
  }

  &__logo-svg {
    width: 55vw;
    transform: rotate(20deg) scale(1.2) translate(15%, 5%);

    @include respond(876px) {
      transform: rotate(20deg) scale(1.6) translate(15%, 5%);
    }

    path {
      fill: $background-color-light;
    }
  }

  &__motivation {
    border-bottom: $border;
    padding: 1rem 0;
    @include flex;
    gap: 2rem;
    color: $background-color-light;
    letter-spacing: 2px;
    font-family: $ff-primary;
    font-size: 1.2rem;
    white-space: nowrap;
  }

  &__seperator {
    height: 0.15rem;
    width: 2rem;
    background-color: $background-color-light;
  }
}
