.project {
  font-family: $ff-primary;

  .light__theme & {
    color: var(--background-color-light);
  }
  &__hero {
    text-align: center;
    position: relative;
    padding-bottom: 10rem;
  }

  &__heading {
    font-size: calc(4rem + 4vw);
    font-family: $ff-secondary;
    line-height: 1;

    .light__theme & {
      color: var(--text-color);
    }
  }

  &__macbook-box {
    @include flex;
    width: 80vw;
    height: 40vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include respond(1176px) {
      margin-top: 2rem;
    }
  }

  &__macbook {
    width: 100%;
    height: 100%;
  }

  &__macbook-video-box {
    width: 60vw;
    height: 37vw;
    position: absolute;
    top: 1%;
    z-index: -1;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    overflow: hidden;
  }

  &__macbook-video {
    // height: 100%;
    height: 100%;
    width: 100%;
    transform: scaleY(1.1);
    // transform-origin: top top;
  }

  &__btn-container {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%);

    @include respond(576px) {
      display: none;
    }
  }

  &__btn-outline {
    border: 1px dashed var(--text-color);
    border-radius: 50%;
    padding: 2rem;
    cursor: pointer;
  }

  &__btn-link {
    color: var(--background-color-light);
    @include flex;
    @include circle(calc(5rem + 5vw));
    background: var(--background-color-dark);
    font-size: 1rem;
  }

  &__details-box {
    @include flex;
    gap: 4rem;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    color: var(--background-color-dark);

    @include respond(976px) {
      @include flex(column);
      gap: 0;
    }
  }

  &__intro {
    background: var(--intro-color);
    position: relative;
  }

  &__intro-container {
    @include flex(column);
  }

  &__intro-heading-box {
    @include flex;
    flex-direction: column-reverse;
    gap: 0.5rem;

    .light__theme & {
      color: var(--text-color);
    }
  }

  &__intro-heading {
    font-size: calc(2rem + 2vw);
    font-family: $ff-secondary;
    line-height: 1;
    margin-bottom: 2rem;
  }

  // &__button {
  //   @include circle(3rem);
  //   @include flex;
  //   border: $border;
  //   box-shadow: 0px 5px 10px rgba(var(--text-color), 0.4);
  //   transition: all 0.2s ease-in-out;

  //   &:hover {
  //     transform: scale(0.9);
  //     box-shadow: 0px 5px 10px rgba(var(--text-color), 0.2);
  //   }

  //   &:hover i {
  //     transform: scale(1.1);
  //     transition: all 0.2s ease-in-out;
  //   }
  // }

  &__btns-container {
    @include flex;
    gap: 1rem;
  }

  &__button {
    font-size: 1rem;
    font-weight: bold;
    border: $border;
    padding: 0.2rem 1rem;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 60%;
      height: 100%;
      transform: translateX(-50%);
      background-color: var(--background-color-dark);
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: -1;
      border-radius: $border-radius;
    }

    &:hover {
      color: var(--background-color-light);
    }

    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }

  &--live {
    display: none;

    @include respond(576px) {
      display: block;
    }
  }

  &__intro-text {
    max-width: 70rem;
    margin-bottom: 2rem;
  }

  &__link:hover {
    color: black;
  }

  &__design {
    text-align: center;
    // border: 1px solid pink;
    max-width: 60rem;
    margin: 0 auto;
  }

  &__colors-wrapper,
  &__typography-wrapper {
    // border: 1px solid yellow;
    margin-bottom: 4rem;
  }

  &__colors {
    @include flex;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__colors-heading,
  &__typography-heading {
    margin-bottom: 2rem;
    font-size: 2rem;

    .light__theme & {
      color: var(--text-color);
    }
  }

  &__color-box {
    @include flex(column);
    gap: 1rem;
    text-transform: uppercase;
  }

  &__color {
    @include circle(10rem);
    // box-shadow: 0 4px 5px rgbvar(--($background-color-dark), 0.4);
    box-shadow: 0 4px 5px rgba(var(--text-color), 0.4);
  }

  &__typography-box {
    @include flex;
    row-gap: 4rem;
    text-transform: capitalize;

    @include respond(768px) {
      @include flex(column);
    }
  }

  &__typography {
    @include flex(column);
    gap: 1rem;
  }

  &__typography-image-box {
    @include flex;

    img {
      width: 88%;
    }
  }

  &__tools-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

    @include respond(576px) {
      grid-template-columns: 1fr;
    }
  }

  &__tools-box {
    @include flex;
    gap: 2rem;
  }

  &__tools-heading {
    margin-bottom: 1rem;
    text-transform: capitalize;

    .light__theme & {
      color: var(--text-color);
    }
  }

  &__tool {
    @include flex(column);
    gap: 0.5rem;
  }

  &__tool-name {
    text-transform: capitalize;
  }

  &__tool-image-box {
    border: $border;
    width: 6rem;
    height: 6rem;
    padding: 0.4rem;
    border-radius: $border-radius-sm;
    box-shadow: 0px 5px 10px rgba(var(--text-color), 0.2);

    .light__theme & {
      border: 1px solid var(--background-color-light);
    }
  }

  &__tool-image {
    object-fit: contain;
  }

  &__features-container {
    background: radial-gradient(var(--background-color-light), var(--intro-color));
  }

  &__features-heading {
    font-size: calc(2rem + 2vw);
    margin-bottom: 4rem;

    .light__theme & {
      color: var(--text-color);
    }
  }

  &__features {
    @include flex(column);
    gap: calc(2rem + 5vw);
  }

  &__feature {
    position: relative;
    @include flex;
  }

  &__text {
    position: absolute;
    font-size: calc(2rem + 5vw);
    font-family: $ff-secondary;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0.8;

    &--1 {
      color: var(--background-color-dark);
      z-index: 1;
    }
    &--2 {
      -webkit-text-stroke-width: 0.2vw;
      -webkit-text-stroke-color: var(--background-color-light);
      color: transparent;
      z-index: 3;
    }
  }

  &__image-box {
    position: relative;
    z-index: 2;
    width: 70%;
    border-radius: $border-radius-sm;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(var(--ackground-color-dark), 0.2);
  }

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: var(--background-color-dark);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  &__next {
    background: var(--background-color-dark);
    border-left: $border;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    // padding-bottom: 1rem;

    @include respond(768px) {
      height: auto;
      padding-inline: 4rem;
    }

    @include flex(column);
    justify-content: end;
    gap: 6rem;

    &-moon {
      position: absolute;
      // top: -30%;
      bottom: -400px;
      z-index: -1;
      opacity: 0.4;
      // transform: rotate(180deg);

      @include big-screen(1920px) {
        bottom: 0;
      }
    }

    &-top {
      border-bottom: $border;
      flex-grow: 1;
      width: 100%;
      max-width: 50rem;
      @include flex(column);
      position: relative;
      overflow: hidden;

      p {
        color: var(--accent-color);
      }
    }

    &-heading {
      font-size: calc(2rem + 5vw);
      color: var(--background-color-light);
      line-height: 1;
      padding-bottom: 15rem;
      font-family: $ff-secondary;
    }

    &-image {
      width: 25rem;
      position: absolute;
      bottom: 0%;
      transform: translateY(50%);
      cursor: pointer;
      // border-radius: $border-radius-sm;
    }

    &-middle {
      width: 100%;
      max-width: 70rem;

      @include flex;
      gap: 2rem;
    }

    &-all {
      @extend %cta-btns;
    }

    &-next {
      @extend %cta-btns;
    }

    &-icons {
      @include respond(410px) {
        @include flex(column);
        gap: 2rem;
        align-items: start;
      }
    }
  }
}

.light__theme .project__btn-link {
  background: var(--background-color-light);

  span {
    color: var(--background-color-dark);
  }
}

.light__theme .project__intro {
  background: var(--intro-color);
}

.light__theme .project__features-container {
  background: radial-gradient(var(--background-color-dark), var(--intro-color));
}

.light__theme .project__details-box {
  color: var(--background-color-light);
}

.light__theme .project__text {
  &--1 {
    color: var(--background-color-light);
  }

  &--2 {
    -webkit-text-stroke-color: var(--background-color-dark);
  }
}

.light__theme .project__overlay {
  background-color: var(--background-color-light);
}

.light__theme .project__button {
  &:hover {
    color: var(--background-color-dark);
  }

  &:hover::after {
    background-color: var(--background-color-light);
  }
}

.loader {
  position: fixed;
  z-index: 10000;
  width: 100vw;

  &__top {
    bottom: 49%;
    @extend %loader;

    .light__theme & {
      background-color: var(--background-color-light);
    }
  }

  &__bottom {
    top: 50%;
    @extend %loader;

    .light__theme & {
      background-color: var(--background-color-light);
    }
  }

  &__logo {
    position: fixed;
    z-index: 200;
    @include circle(10rem);
    right: 5rem;
    bottom: 5rem;

    path {
      fill: var(--background-color-light);

      .light__theme & {
        fill: var(--background-color-dark);
      }
    }
  }
}

%loader {
  height: 200vh;
  width: 100vw;
  position: fixed;
  transform: skewY(-45deg);
  background-color: var(--background-color-dark);
}
