.project {
  font-family: $ff-primary;
  &__hero {
    text-align: center;
    position: relative;
    padding-bottom: 10rem;
  }

  &__heading {
    font-size: calc(4rem + 4vw);
    font-family: $ff-secondary;
    line-height: 1;
  }

  &__macbook-box {
    @include flex;
    width: 80vw;
    height: 40vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include respond(1176px) {
      margin-top: 2rem;
    }
  }

  &__macbook {
    width: 100%;
    height: 100%;
  }

  &__macbook-video-box {
    width: 60vw;
    height: 37vw;
    position: absolute;
    top: 1%;
    z-index: -1;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    overflow: hidden;
  }

  &__macbook-video {
    // height: 100%;
    height: 100%;
    width: 100%;
    transform: scaleY(1.1);
    // transform-origin: top top;
  }

  &__btn-container {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%);
  }

  &__btn-outline {
    border: 1px dashed $text-color;
    border-radius: 50%;
    padding: 2rem;
    cursor: pointer;
  }

  &__btn-link {
    color: $background-color-light;
    @include flex;
    @include circle(calc(5rem + 5vw));
    background: $background-color-dark;
    font-size: 1rem;
  }

  &__details-box {
    @include flex;
    gap: 4rem;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    color: $background-color-dark;

    @include respond(976px) {
      @include flex(column);
      gap: 0;
    }
  }

  &__intro {
    background: #d7d5cc;
    position: relative;
  }

  &__intro-container {
    @include flex(column);
  }

  &__intro-heading-box {
    @include flex;
    gap: 2rem;
  }

  &__intro-heading {
    font-size: calc(2rem + 2vw);
    font-family: $ff-secondary;
  }

  &__intro-text {
    max-width: 70rem;
    margin-bottom: 2rem;
  }

  &__link:hover {
    color: black;
  }

  &__design {
    text-align: center;
    // border: 1px solid pink;
    max-width: 60rem;
    margin: 0 auto;
  }

  &__colors-wrapper,
  &__typography-wrapper {
    // border: 1px solid yellow;
    margin-bottom: 4rem;
  }

  &__colors {
    @include flex;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__colors-heading,
  &__typography-heading {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__color-box {
    @include flex(column);
    gap: 1rem;
    text-transform: uppercase;
  }

  &__color {
    @include circle(10rem);
    box-shadow: 0 4px 5px rgba($background-color-dark, 0.4);
  }

  &__typography-box {
    @include flex;
    row-gap: 4rem;
    text-transform: capitalize;

    @include respond(768px) {
      @include flex(column);
    }
  }

  &__typography {
    @include flex(column);
    gap: 1rem;
  }

  &__typography-image-box {
    @include flex;

    img {
      width: 88%;
    }
  }

  &__tools-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

    @include respond(576px) {
      grid-template-columns: 1fr;
    }
  }

  &__tools-box {
    @include flex;
    gap: 2rem;
  }

  &__tools-heading {
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &__tool {
    @include flex(column);
    gap: 0.5rem;
  }

  &__tool-name {
    text-transform: capitalize;
  }

  &__tool-image-box {
    border: $border;
    width: 6rem;
    height: 6rem;
    padding: 0.4rem;
    border-radius: $border-radius-sm;
    box-shadow: 0px 5px 10px rgba($text-color, 0.2);
  }

  &__tool-image {
    object-fit: contain;
  }

  &__features-container {
    background: radial-gradient(#eeeeee, #d7d5cc);
  }

  &__features-heading {
    font-size: calc(2rem + 2vw);
    margin-bottom: 4rem;
  }

  &__features {
    @include flex(column);
    gap: calc(2rem + 5vw);
  }

  &__feature {
    position: relative;
    @include flex;

    // &:nth-child(odd) {
    //   .project__text {
    //     left: -10%;
    //   }
    // }

    // &:nth-child(even) {
    //   .project__text {
    //     right: -10%;
    //   }
    // }
  }

  &__text {
    position: absolute;
    // font-size: calc(2rem + 10vw);
    font-size: calc(2rem + 5vw);
    font-family: $ff-secondary;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0.8;

    &--1 {
      color: $background-color-dark;
      z-index: 1;
    }
    &--2 {
      -webkit-text-stroke-width: 0.2vw;
      -webkit-text-stroke-color: $background-color-light;
      color: transparent;
      z-index: 3;
    }
  }

  &__image-box {
    position: relative;
    z-index: 2;
    width: 70%;
    border-radius: $border-radius-sm;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba($background-color-dark, 0.2);
  }

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: $background-color-dark;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}
