.timeline {
  min-height: 100vh;

  @include respond(1170px) {
    display: none;
  }

  &__heading {
    align-self: center;
    @extend %section-heading;
  }

  overflow: hidden;
  align-items: start;
  &__wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    transform: translateX(-100px);
  }
  &__duration {
    width: 20vw;
    height: 25vw;
    flex-shrink: 0;

    @include flex(column);
    align-items: stretch;
  }
  &--upper {
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    position: relative;
    flex-grow: 10;
  }
  &--lower {
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    flex-grow: 0.5;
    padding-inline: 1rem;

    @include flex;
    justify-content: space-between;
  }

  &__text {
    font-family: $ff-primary;
    color: var(--background-color-light);
    font-size: 1.2rem;

    text-transform: capitalize;
  }

  &__event {
    height: 4vw;
    border-radius: $border-radius-sm;
    position: absolute;
    bottom: 1vw;
    z-index: 1;
    padding: 0.5rem 1rem;
    opacity: 0;

    @include flex;
  }

  &--animation {
    background-color: #ad2e24;
    bottom: 6vw;
    left: 50%;
    width: 120%;
  }
  &--bachelors {
    background-color: #499ff1;
    left: 40%;
    width: 200%;
    opacity: 1;
  }
  &--masters {
    background-color: #cf1259;
    left: 50%;
    width: 150%;
  }
  &--tyler {
    background-color: #ea526f;
    bottom: 11vw;
    left: 70%;
    width: 130%;
  }
  &--salvation {
    background-color: #00916e;
    bottom: 6vw;
    left: 50%;
    width: 150%;
  }
  &--bvt {
    background-color: #835bf1;
    left: 10%;
    width: 210%;
  }
}

.light__theme .timeline__text {
  color: var(--background-color-dark);
}
