.work {
  min-height: 100vh;

  &__tabs {
    @include flex;
    gap: 2rem;
    margin-bottom: 3rem;

    @include big-screen(976px) {
      justify-content: start;
    }
  }

  &__tab-btn {
    font-size: 2.4rem;
  }

  &__tab-btn.active {
    color: var(--background-color-light);
    color: var(--accent-color);
  }

  // &__sort {
  //   @include flex;
  //   justify-content: end;
  //   margin: 4rem 0 2rem;

  //   &-btn {
  //     @include flex;
  //     gap: 0.5rem;
  //     padding: 0.5rem 0.75rem;
  //     border: 1px solid var(--text-color);
  //     border-radius: $border-radius;
  //     font-size: 0.85rem;
  //   }
  // }

  &__content {
    font-family: $ff-primary;
    color: var(--background-color-light);

    display: none;
    place-content: center;

    &.active {
      display: grid;
    }

    @include big-screen(976px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 6rem;
    }
  }

  &__projects {
    display: none;
    overflow: hidden;

    @include big-screen(976px) {
      display: block;
      height: 40vw;
      min-height: 450px;
      overflow-y: auto;
    }
  }

  &__project {
    padding: 1rem 2rem;
    @include flex;
    gap: 1rem;
    justify-content: start;
    border-top: $border;

    &:hover .work__line {
      width: 3rem;
    }

    &:last-child {
      border-bottom: $border;
    }

    &-name::first-letter {
      text-transform: capitalize;
    }

    &-info {
      color: var(--text-color);
      font-size: 1.2rem;
    }
  }

  &__projects-phone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;

    @include respond(576px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__sort-phone {
    grid-column: 1/-1;
    place-self: end;
    margin: 2rem 0 0;

    @include big-screen(976px) {
      display: none;
    }
  }

  &__project-phone {
    display: block;
    border-radius: $border-radius-sm;
    overflow: hidden;
    // width: 30rem;
    position: relative;

    @include big-screen(976px) {
      display: none;
    }

    &:hover &-name {
      transform: translateY(-400%) scale(1.2);
    }

    &:hover &-info {
      transform: translateY(-150%);
      visibility: visible;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    }

    &:hover > img {
      filter: grayscale(0);
    }

    &:hover &-overlay {
      opacity: 0.6;
    }

    &-overlay {
      position: absolute;
      inset: 0;
      z-index: 1;
      background: var(--background-color-dark);
      opacity: 0.6;
      transition: opacity 0.5s linear;
    }

    & > img {
      filter: grayscale(0.5);

      height: calc(20rem + 10vw);
      width: calc(15rem + 10vw);
    }

    &-info-box {
      position: absolute;
      bottom: 0;
      @include flex(column);
      z-index: 2;
      width: 100%;
      text-align: center;
    }

    &-name {
      font-family: $ff-secondary;
      font-size: 4rem;
      line-height: 0.7;
      text-align: center;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &-info {
      position: absolute;
      top: 100%;
    }
  }

  &__line {
    width: 0rem;
    height: 0.15rem;
    background-color: var(--text-color);
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__image-box {
    display: none;
    place-self: start;
    position: relative;

    @include big-screen(976px) {
      display: block;
    }
  }

  &__image-stack {
    display: none;

    &.active {
      @include flex;
    }
  }

  &__stack {
    writing-mode: vertical-lr;
    @include flex;
    gap: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;

    span {
      border: $border;
      padding: 1rem 0;
      border-radius: $border-radius;
      text-transform: capitalize;
    }
  }

  &__image {
    width: 35rem;
    height: 45rem;
    // display: none;

    // &.active {
    //   display: block;
    // }
  }
}

// .work__image-stack {
//   @include flex;
// }

// .work
